[submodule "src/api"]
	path = src/api
	url = ssh://git@ssh.github.com/maidsafe/MaidSafe-API.git
[submodule "src/common"]
	path = src/common
	url = ssh://git@ssh.github.com/maidsafe/MaidSafe-Common.git
[submodule "src/drive"]
	path = src/drive
	url = ssh://git@ssh.github.com/maidsafe/MaidSafe-Drive.git
[submodule "src/encrypt"]
	path = src/encrypt
	url = ssh://git@ssh.github.com/maidsafe/MaidSafe-Encrypt.git
[submodule "src/nfs"]
	path = src/nfs
	url = ssh://git@ssh.github.com/maidsafe/MaidSafe-Network-Filesystem.git
[submodule "src/passport"]
	path = src/passport
	url = ssh://git@ssh.github.com/maidsafe/MaidSafe-Passport.git
[submodule "src/routing"]
	path = src/routing
	url = ssh://git@ssh.github.com/maidsafe/MaidSafe-Routing.git
[submodule "src/rudp"]
	path = src/rudp
	url = ssh://git@ssh.github.com/maidsafe/MaidSafe-RUDP.git
[submodule "src/vault"]
	path = src/vault
	url = ssh://git@ssh.github.com/maidsafe/MaidSafe-Vault.git
[submodule "src/vault_manager"]
	path = src/vault_manager
	url = ssh://git@ssh.github.com/maidsafe/MaidSafe-Vault-Manager.git
